#main-content .card:not(.dropdown-search-dropdown) {
    box-shadow: none;
    background-color: transparent;
}

html {
    background-color: #fbfbfb;
}

.grid-card {
    background: white;
}

html.dark-mode .grid-card {
    background: unset;
}
