@media screen and (min-width: 1000px) {
    .tri-layout-left-contents>*,
    .tri-layout-right-contents>* {
        opacity: 1;
        transition: none;
    }
}

@media screen and (min-width: 1000px) {
    html.dark-mode .tri-layout-left-contents>*,
    html.dark-mode .tri-layout-right-contents>* {
        opacity: 1;
    }
}

.breadcrumbs {
    opacity: 1;
}
