.tri-layout-sides-content .entity-list-item>span:first-child:after,
.actions .entity-list-item>span:first-child:after,
.icon-list-item>span:first-child:after {
    background-color: unset;
}

.entity-list-item>span:first-child,
.icon-list-item>span:first-child,
.split-icon-list-item>a>.icon,
.chapter-expansion>.icon {
    font-size: 1.1rem;
    margin-bottom: 2px;
    height: 1.6rem;
    width: 1.6rem;
}

.entity-list-item,
.icon-list-item {
    gap: 12px;
}

@media screen and (min-width: 1400px) {
    .tri-layout-left-contents, .tri-layout-right-contents {
        height: calc(100% + 40px);
    }
}
